<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/bootstrap.min.css" />
    <include path="~/Content/custom.min.css" />
    <include path="~/Content/daterangepicker.css" />
    <include path="~/Content/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" />
    <include path="~/Content/font-awesome/css/font-awesome.min.css" />
    <include path="~/Content/green.css" />
    <include path="~/Content/jqvmap.min.css" />
    <include path="~/Content/nprogress.css" />
  </styleBundle>
</bundles>